@page "/libros/create"
@using LibrosAutoresBlazor.Models;
@using LibrosAutoresBlazor.Repository;
@inject ILibroService libroService
@inject NavigationManager NavigationManager


<h1>Crear Libro</h1>


@code {

}
